.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
  padding-bottom: 20px;
}

.credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
  text-decoration: none;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  width: 100%;
  max-width: 1200px; /* container ka max-width */
  margin: 0 auto;
  height: 400px;
}

.option {
  position: relative;
  overflow: hidden;
  min-width: 80px;
  margin: 10px;
  cursor: pointer;
  background: var(--optionBackground, #e6e9ed);
  background-size: auto 120%;
  background-position: center;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  border-radius: 30px;
  flex-grow: 1;
}

.option.active {
  flex-grow: 5; /* pehle 10000 tha, ab 5 */
  max-width: 600px; /* active item ka max width */
  margin: 0;
  border-radius: 40px;
  background-size: auto 100%;
}

.option .shadow {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  height: 120px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.option:hover {
  flex-grow: 9;
  max-width: 600px !important;
  margin: 0;
  border-radius: 40px;
  background-size: auto 100%;
}
.option .label {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.option .info .sub {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.option.active .info .sub {
  opacity: 1;
}
@media (max-width: 768px) {
  .options-container {
    display: none !important;
  }
}
